$colCount:          3;
$gutterCount:       $colCount + 1;
$noGutterCol:       100% / $colCount;
$gutter:            $noGutterCol / 10; 
$col:               $noGutterCol - $gutter - ($gutter / $colCount);
$baseline:          1.5rem;
$doubleColGutter:   (100% / 2) / 10;
$doubleCol:         (100% / 2) - $doubleColGutter - ($doubleColGutter / 2);


@mixin colOne {
    @media (min-width: 50em) {
        width: $col;
        float: left;
        overflow: auto;
        clear: left;
        text-align: right;
        margin-left: $gutter;
    }
}
    
@mixin colTwo {
    @media (min-width: 50em) {
        width: (1.5 * $col);
        margin-right: (0.5 * $col) + ($gutter * 2);
        float: right;
        overflow: auto;
        clear: right;
    }
}

html {
    background-color: #111;
    background: url('../images/background.png');
    background-attachment: fixed;

    @media (max-width: 50em) {
    	background: url('../images/whitebackground.png');
    }

}

nav {
    z-index: 1;
    background: rgba(0, 0, 0, 0.8); 
    background: url('../images/background.png');
	width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

	.homesvg {
	    width: 3 * $gutter;
	    height: 5rem;
	    float: left;
	    margin-left: $col - 2 * $gutter;
	    fill: white;

	    @media (max-width: 50em) {
	    width: 10%;
	    height: auto;
	    float: none;
	    margin: 0 45%;
	    }

	    // @media (min-width: 120em) {
	    //	float: left;
	    //	margin-left: $gutter;
	    //	margin-right: 0;
	    //	width: 5rem;
	    //	height: 5rem;
	    //}
	}

	.hidden {
	    display: none;

	    //@media (min-width: 120em) {
	    //    display: inline-block;
	    //    float: left;
	    //    margin-top: 1rem;
	    //    font-size: 2rem;
	    //    margin-left: 1rem;
	    //    font-weight: normal;
	    //}
	}

    ul {
    	padding-top: 1.7rem;
    	width: 23em;
    	margin: 0 auto;

        li {
            padding-top: 0;
            display: inline-block;
            margin-left: 0;
            margin-right: $gutter;
            
            @media (max-width: 50em) {
                display: inline;
                text-align: center;
	            margin-left: .5em;
	            margin-right: .5em;
            }
            
            // @media (min-width: 120em) {
            //    float: right;
            //    margin-right: $gutter;
            //}
            
            a {
                padding: 1rem 0;
            }
        }
        
        @media (min-width: 50em) {
            margin-left: (2 * $gutter) + $col;
            width: auto;
        }
    }
    
    @media (min-width: 50em) {
        margin-bottom: 3em;
        position: fixed;
    }

    @media (min-width: 120em) {
        width: 110rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
	}
}

.maincontent {
	padding-top: 18rem;
	overflow: auto;
    background: url('../images/whitebackground.png');

	@media (max-width: 50em) {
	    padding-top:0;
	}

	@media (min-width: 120em) {
	    padding-top: 20rem;
	    width: 110rem;
	    margin: 0 auto;
	}
}

h1 {
	display: block;
	margin-bottom: 1em;
}

h1, h3, h4, h5, p {
	@include colTwo;
}

h2 {
	@include colOne;
}

section {
	display: block;
	padding-top: 2rem;
	clear: both;
}

section:target {
	padding-top: 15rem;

	@media (max-width:50em) {
		padding-top: 3rem;
	}
}

.indent, li {
	margin-left: $gutter;
}

.topspace {
	margin-top: 1em;
}

@media (max-width:50em) {
	.maincontent {
		margin: 0 $gutter;
	}
}

img {
	float: left;
	margin-left: 2 * $gutter + $col;
	margin-bottom: 3rem;
	max-width: 1.5 * $col;
	border-radius: 5px;

	@media (max-width: 50em) {
	max-width: 100%;
	float: none;
	display: block;
	margin-left: 0;
	}
}

.bio img {
	float: left;
	margin-left: $gutter + .5 * $col;
	max-width: $col / 2;
	clear: left;

	@media (max-width: 50em) {
	    display: block;
	    float: none;
	    margin-left: 0;
	    width: 100%;
	    max-width: 100%;
	    margin-bottom:0.5rem;
	}
}

.bio:first-of-type {
	padding-top: 2rem;

	@media (max-width: 50em) {
	    padding-top: 2rem;
	}
}

.bio {
	height: auto;
	padding: 1rem 0;
	clear: both;

	@media (max-width: 50em) {
	    padding: 1rem 0;
	}
}

.bio:last-of-type {
	padding-bottom: 18rem;

	@media (max-width: 50em) {
	    padding-bottom: 2rem;
	}
}
.footer {
	height: 12rem;
	clear: both;
}

.herosvg {
	width: $col - 10%;
	margin-left: 1.25 * $col + 2 * $gutter + 5%;
	padding-bottom: 3rem;

	@media (max-width: 50em) {
		width: 50%;
		margin-left: 25%;
		margin-top: 2rem;
		padding-bottom: 2rem;
	}
}

.visibleOff {
	display: none;
}

.dropdownmenu:hover {
	text-decoration: underline;
	cursor: hand;
}

.visibleOn {
	display: block;
	background: url('../images/greybackground.png');
	margin: 0;
	padding: 0;
	position: absolute;
	width: auto;

	li {
	    margin: 0;
	    display: block;

	    a {
	        padding: 1rem;
	        display: block;
	        margin: 0;
	    }
	}
}

nav {
	a:hover {
	    text-decoration: underline;
	}
}