@mixin typeBody {
	font-family: "tk-ingra-2", ingra, sans-serif;
	font-size: 1rem;
	line-height: 1.5em;
	margin-bottom: 1em;
	color: #ccc;
	font-weight: 300;
}

@mixin typeHeader {
	font-family: "tk-futura-pt", "futura pt", sans-serif;
	font-size: 1rem;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .05em;
	color: #fff;
}

p {
	@include typeBody;
}

strong {
	font-weight: 500;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	@include typeHeader;
}

h1 {
	font-size: 2rem;
	color: #fff;

	@media (max-width: 50em) {
	    display: none;
	}
}

h2 {
	color: #fff;
}

a {
	@include typeBody;
	color: #fff;
	text-decoration: underline;
	line-height: 1.5em;
}

nav {
    display: block;
	a {
		@include typeHeader;
		text-decoration: none;
	}
	a.currentlink {
	    text-decoration: underline;
	    color: #fff;
	}
}

@media (max-width: 50em) {
	h2 {
	    font-size: 1.5rem;
	}
}