/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 32, ../sass/_grid.scss */
html {
  background-color: #111;
  background: url("../images/greybackground.png");
  background-attachment: fixed;
}
@media (max-width: 50em) {
  /* line 32, ../sass/_grid.scss */
  html {
    background: url("../images/whitebackground.png");
  }
}

/* line 42, ../sass/_grid.scss */
nav {
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  background: url("../images/background.png");
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
/* line 53, ../sass/_grid.scss */
nav .homesvg {
  width: 10%;
  height: 5rem;
  float: left;
  margin-left: 22.22222%;
  fill: white;
}
@media (max-width: 50em) {
  /* line 53, ../sass/_grid.scss */
  nav .homesvg {
    width: 10%;
    height: auto;
    float: none;
    margin: 0 45%;
  }
}
/* line 76, ../sass/_grid.scss */
nav .hidden {
  display: none;
}
/* line 89, ../sass/_grid.scss */
nav ul {
  padding-top: 1.7rem;
  width: 20.5em;
  margin: 0 auto;
}
/* line 94, ../sass/_grid.scss */
nav ul li {
  padding-top: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: 3.33333%;
}
@media (max-width: 50em) {
  /* line 94, ../sass/_grid.scss */
  nav ul li {
    display: inline;
    text-align: center;
    margin-left: .5em;
    margin-right: .5em;
  }
}
/* line 112, ../sass/_grid.scss */
nav ul li a {
  padding: 1rem 0;
}
@media (min-width: 50em) {
  /* line 89, ../sass/_grid.scss */
  nav ul {
    margin-left: 35.55556%;
    width: auto;
  }
}
@media (min-width: 50em) {
  /* line 42, ../sass/_grid.scss */
  nav {
    margin-bottom: 3em;
    position: fixed;
  }
}
@media (min-width: 120em) {
  /* line 42, ../sass/_grid.scss */
  nav {
    width: 110rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 137, ../sass/_grid.scss */
#announcement {
  z-index: 99;
}

/* line 141, ../sass/_grid.scss */
.herodiv {
  z-index: -1;
}

/* line 145, ../sass/_grid.scss */
.maincontent {
  background: url("../images/whitebackground.png");
}
@media (max-width: 50em) {
  /* line 145, ../sass/_grid.scss */
  .maincontent {
    padding-top: 0;
  }
}
@media (min-width: 120em) {
  /* line 145, ../sass/_grid.scss */
  .maincontent {
    width: 110rem;
    margin: 0 auto;
  }
}

/* line 162, ../sass/_grid.scss */
h1 {
  display: block;
  margin-bottom: 1em;
}

@media (min-width: 50em) {
  /* line 167, ../sass/_grid.scss */
  h1, h3, h4, h5, p {
    width: 43.33333%;
    margin-right: 21.11111%;
    float: right;
    clear: right;
  }
}

@media (min-width: 50em) {
  /* line 171, ../sass/_grid.scss */
  h2 {
    width: 28.88889%;
    float: left;
    clear: left;
    text-align: right;
    margin-left: 3.33333%;
  }
}

/* line 175, ../sass/_grid.scss */
section {
  display: block;
  padding-top: 2rem;
  clear: both;
}

/* line 181, ../sass/_grid.scss */
section:target {
  padding-top: 15rem;
}
@media (max-width: 50em) {
  /* line 181, ../sass/_grid.scss */
  section:target {
    padding-top: 3rem;
  }
}

/* line 189, ../sass/_grid.scss */
.indent, li {
  margin-left: 3.33333%;
}

/* line 193, ../sass/_grid.scss */
.topspace {
  margin-top: 1em;
}

@media (max-width: 50em) {
  /* line 198, ../sass/_grid.scss */
  .maincontent {
    margin: 0 3.33333%;
  }
}
/* line 203, ../sass/_grid.scss */
img {
  float: left;
  margin-left: 35.55556%;
  margin-bottom: 3rem;
  max-width: 43.33333%;
  border-radius: 5px;
}
@media (max-width: 50em) {
  /* line 203, ../sass/_grid.scss */
  img {
    max-width: 100%;
    float: none;
    display: block;
    margin-left: 0;
  }
}

/* line 218, ../sass/_grid.scss */
.bio img {
  float: left;
  margin-left: 17.77778%;
  max-width: 14.44444%;
  clear: left;
}
@media (max-width: 50em) {
  /* line 218, ../sass/_grid.scss */
  .bio img {
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }
}

/* line 234, ../sass/_grid.scss */
.bio:first-of-type {
  padding-top: 2rem;
}
@media (max-width: 50em) {
  /* line 234, ../sass/_grid.scss */
  .bio:first-of-type {
    padding-top: 2rem;
  }
}

/* line 242, ../sass/_grid.scss */
.bio {
  height: auto;
  padding: 1rem 0;
  clear: both;
}
@media (max-width: 50em) {
  /* line 242, ../sass/_grid.scss */
  .bio {
    padding: 1rem 0;
  }
}

/* line 252, ../sass/_grid.scss */
.bio:last-of-type {
  padding-bottom: 18rem;
}
@media (max-width: 50em) {
  /* line 252, ../sass/_grid.scss */
  .bio:last-of-type {
    padding-bottom: 2rem;
  }
}

/* line 259, ../sass/_grid.scss */
.footer {
  height: 12rem;
  clear: both;
}

/* line 264, ../sass/_grid.scss */
.herosvg {
  width: 100%;
  height: 15rem;
  display: inline-block;
  margin-top: -23rem;
  z-index: 98;
}
@media (max-width: 90em) {
  /* line 264, ../sass/_grid.scss */
  .herosvg {
    height: 13rem;
    margin-top: -19rem;
  }
}
@media (max-width: 85em) {
  /* line 264, ../sass/_grid.scss */
  .herosvg {
    margin-top: -18rem;
  }
}
@media (max-width: 80em) {
  /* line 264, ../sass/_grid.scss */
  .herosvg {
    margin-top: -16rem;
    height: 10rem;
  }
}
@media (max-width: 70em) {
  /* line 264, ../sass/_grid.scss */
  .herosvg {
    margin-top: -13rem;
    height: 8rem;
  }
}
@media (max-width: 60em) {
  /* line 264, ../sass/_grid.scss */
  .herosvg {
    margin-top: -11rem;
    height: 6rem;
  }
}
@media (max-width: 50em) {
  /* line 264, ../sass/_grid.scss */
  .herosvg {
    display: none;
  }
}

/* line 300, ../sass/_grid.scss */
img.hero {
  z-index: -1;
  border-radius: 0;
  margin: 0;
  max-width: 100%;
  clear: both;
  margin-top: 7rem;
}
@media (max-width: 50em) {
  /* line 300, ../sass/_grid.scss */
  img.hero {
    margin-top: 0;
  }
}
@media (min-width: 120em) {
  /* line 300, ../sass/_grid.scss */
  img.hero {
    max-width: 110rem;
    width: 110rem;
    margin: 0 auto;
    display: block;
    float: none;
    padding-top: 7rem;
  }
}

/* line 322, ../sass/_grid.scss */
.herodiv {
  clear: both;
}

/* line 326, ../sass/_grid.scss */
.opportunitiesoff {
  display: none;
}

/* line 330, ../sass/_grid.scss */
.dropdownmenu:hover {
  text-decoration: underline;
  cursor: hand;
}

/* line 335, ../sass/_grid.scss */
.opportunitieson {
  display: block;
}

/* line 339, ../sass/_grid.scss */
#opportunitiesdropdown {
  background: url("../images/greybackground.png");
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
}
/* line 346, ../sass/_grid.scss */
#opportunitiesdropdown li {
  margin: 0;
  display: block;
}
/* line 350, ../sass/_grid.scss */
#opportunitiesdropdown li a {
  padding: 1rem;
  display: block;
  margin: 0;
}

/* line 358, ../sass/_grid.scss */
nav {
  clear: both;
}
/* line 360, ../sass/_grid.scss */
nav a:hover {
  text-decoration: underline;
}

/* line 365, ../sass/_grid.scss */
#announcement {
  background: url("../images/greybackground.png");
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
  position: fixed;
  padding-top: 8rem;
}
/* line 375, ../sass/_grid.scss */
#announcement p {
  padding: 0;
  color: #fff;
  float: right;
  clear: none;
  margin-right: 0;
}
/* line 383, ../sass/_grid.scss */
#announcement h2 {
  color: #fff;
}
/* line 387, ../sass/_grid.scss */
#announcement a {
  margin: 0;
  padding: 0;
  color: #fff;
}
/* line 393, ../sass/_grid.scss */
#announcement svg {
  fill: #fff;
  width: 3.33333%;
  float: right;
  height: 1.5em;
  display: inline;
  margin-right: 17.77778%;
  padding-top: 0;
  padding-bottom: 0.75em;
}
/* line 404, ../sass/_grid.scss */
#announcement svg:hover {
  cursor: hand;
}
@media (max-width: 50em) {
  /* line 365, ../sass/_grid.scss */
  #announcement {
    position: relative;
    padding-top: 1rem;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
    height: auto;
    width: auto;
  }
  /* line 416, ../sass/_grid.scss */
  #announcement h2 {
    font-size: 1em;
  }
  /* line 419, ../sass/_grid.scss */
  #announcement p {
    float: none;
    margin-right: 6.66667%;
    padding-bottom: 1rem;
  }
  /* line 424, ../sass/_grid.scss */
  #announcement svg {
    margin-right: 0;
  }
}
@media (min-width: 120em) {
  /* line 365, ../sass/_grid.scss */
  #announcement {
    width: 110em;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

/* line 437, ../sass/_grid.scss */
.announcementon {
  display: block;
}

/* line 441, ../sass/_grid.scss */
.announcementoff {
  display: none;
}

/* line 20, ../sass/_type.scss */
p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #333;
  font-weight: 300;
}

/* line 24, ../sass/_type.scss */
#announcement p {
  margin-bottom: 0;
  padding-bottom: 1em;
}

/* line 29, ../sass/_type.scss */
strong {
  font-weight: 800;
  color: #000;
}

/* line 34, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .05em;
  color: #000;
}

/* line 38, ../sass/_type.scss */
h1.hero {
  margin-right: 0;
  white-space: nowrap;
  position: relative;
  font-size: 6rem;
  color: #fff;
  margin-top: -6rem;
  z-index: 98;
  line-height: 1.35;
  font-weight: 800;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 90em) {
  /* line 38, ../sass/_type.scss */
  h1.hero {
    font-size: 5rem;
    margin-top: -5rem;
  }
}
@media (max-width: 72em) {
  /* line 38, ../sass/_type.scss */
  h1.hero {
    font-size: 4rem;
    margin-top: -4rem;
  }
}
@media (max-width: 50em) {
  /* line 38, ../sass/_type.scss */
  h1.hero {
    font-size: 3rem;
    margin-top: -3rem;
  }
}

/* line 69, ../sass/_type.scss */
h1 {
  margin-top: 9rem;
  color: #000;
  font-size: 2rem;
}
@media (max-width: 50em) {
  /* line 69, ../sass/_type.scss */
  h1 {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

/* line 81, ../sass/_type.scss */
h2 {
  color: #000;
  clear: both;
}

/* line 86, ../sass/_type.scss */
a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #333;
  font-weight: 300;
  color: #000;
  text-decoration: underline;
  line-height: 1.5em;
}

/* line 93, ../sass/_type.scss */
nav {
  display: block;
}
/* line 95, ../sass/_type.scss */
nav a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .05em;
  color: #000;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 50em) {
  /* line 95, ../sass/_type.scss */
  nav a {
    font-size: .8rem;
  }
}
/* line 104, ../sass/_type.scss */
nav a.currentlink {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 50em) {
  /* line 111, ../sass/_type.scss */
  h2 {
    font-size: 1rem;
  }

  /* line 114, ../sass/_type.scss */
  h3 {
    text-transform: none;
    letter-spacing: 0;
  }
}
/* line 120, ../sass/_type.scss */
.dropdownmenu {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .05em;
  color: #000;
  color: #fff;
}
