/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../sass/_grid.scss */
html {
  overflow-y: scroll;
}

/* line 47, ../sass/_grid.scss */
nav {
  z-index: 1;
  background: url("../images/headerbackground.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 56, ../sass/_grid.scss */
nav .homesvg {
  width: 10%;
  height: 5rem;
  float: left;
  margin-left: 22.22222%;
}
@media (max-width: 50em) {
  /* line 56, ../sass/_grid.scss */
  nav .homesvg {
    width: 15%;
    height: auto;
    float: none;
    margin: 0 42.5%;
  }
}
@media (min-width: 120em) {
  /* line 56, ../sass/_grid.scss */
  nav .homesvg {
    float: left;
    margin-left: 3.33333%;
    margin-right: 0;
    width: 5rem;
    height: 5rem;
  }
}
/* line 78, ../sass/_grid.scss */
nav .hidden {
  display: none;
}
@media (min-width: 120em) {
  /* line 78, ../sass/_grid.scss */
  nav .hidden {
    display: inline-block;
    float: left;
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: normal;
  }
}
/* line 91, ../sass/_grid.scss */
nav ul {
  padding-top: 1.7rem;
  width: 22em;
  margin: 0 auto;
}
/* line 96, ../sass/_grid.scss */
nav ul li {
  padding-top: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: 3.33333%;
}
@media (max-width: 50em) {
  /* line 96, ../sass/_grid.scss */
  nav ul li {
    display: inline;
    text-align: center;
    margin-left: .5em;
    margin-right: .5em;
  }
}
@media (min-width: 120em) {
  /* line 96, ../sass/_grid.scss */
  nav ul li {
    float: right;
    margin-right: 3.33333%;
  }
}
/* line 114, ../sass/_grid.scss */
nav ul li a {
  padding-top: 3em;
}
@media (min-width: 50em) {
  /* line 91, ../sass/_grid.scss */
  nav ul {
    margin-left: 35.55556%;
    width: auto;
  }
}
@media (min-width: 120em) {
  /* line 91, ../sass/_grid.scss */
  nav ul {
    margin-left: 0;
  }
}
@media (min-width: 50em) {
  /* line 47, ../sass/_grid.scss */
  nav {
    margin-bottom: 3em;
    position: fixed;
  }
}

/* line 135, ../sass/_grid.scss */
.maincontent {
  padding-top: 16.66667%;
}
@media (max-width: 50em) {
  /* line 135, ../sass/_grid.scss */
  .maincontent {
    padding-top: 0;
  }
}

/* line 143, ../sass/_grid.scss */
h1 {
  display: block;
  margin-bottom: 1em;
}

@media (min-width: 50em) {
  /* line 148, ../sass/_grid.scss */
  h1, h3, h4, h5, p {
    width: 43.33333%;
    margin-right: 21.11111%;
    float: right;
    overflow: auto;
    clear: right;
  }
}

@media (min-width: 50em) {
  /* line 152, ../sass/_grid.scss */
  h2 {
    width: 28.88889%;
    float: left;
    overflow: auto;
    clear: left;
    text-align: right;
    margin-left: 3.33333%;
  }
}

/* line 156, ../sass/_grid.scss */
section {
  display: block;
  padding-top: 5rem;
  clear: both;
}

/* line 162, ../sass/_grid.scss */
.indent, li {
  margin-left: 3em;
}

/* line 166, ../sass/_grid.scss */
.topspace {
  margin-top: 1em;
}

@media (max-width: 50em) {
  /* line 171, ../sass/_grid.scss */
  body {
    margin: 0 3.33333%;
  }
}
/* line 179, ../sass/_grid.scss */
img {
  float: left;
  margin-left: 35.55556%;
  margin-bottom: 3rem;
  max-width: 43.33333%;
  border-radius: 5px;
}
@media (max-width: 50em) {
  /* line 179, ../sass/_grid.scss */
  img {
    max-width: 100%;
    float: none;
    display: block;
    margin-left: 0;
  }
}

/* line 22, ../sass/_type.scss */
html {
  background-color: #111;
}

/* line 26, ../sass/_type.scss */
p {
  font-family: ingra, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #ccc;
}

/* line 30, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "futura pt", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05em;
  color: #fff;
}

/* line 34, ../sass/_type.scss */
h1 {
  font-size: 2rem;
  color: #fff;
}
@media (max-width: 50em) {
  /* line 34, ../sass/_type.scss */
  h1 {
    display: none;
  }
}

/* line 43, ../sass/_type.scss */
h2 {
  color: #fff;
}

/* line 47, ../sass/_type.scss */
a {
  font-family: ingra, sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #ccc;
  color: #fff;
  text-decoration: underline;
  line-height: 1.2em;
}

/* line 54, ../sass/_type.scss */
nav {
  display: block;
}
/* line 56, ../sass/_type.scss */
nav a {
  font-family: "futura pt", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05em;
  color: #fff;
  text-decoration: none;
}
/* line 60, ../sass/_type.scss */
nav a.currentlink {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 50em) {
  /* line 67, ../sass/_type.scss */
  h2 {
    font-size: 1.5rem;
  }
}
